@media (max-width:1300px) {
    body {
        .footer_container {}
    }
}

@media (max-width:1160px) {
    main {
        .chocolate {
            max-width: 704px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;

            & .chocolate-card {
                grid-column: 1;
                grid-row: 1;
                max-width: 336px;
            }

            & .milk {
                grid-column: 1;
                grid-row: 2;
            }

            & .nuts {
                grid-column: 2;
                grid-row: 2;
            }

            & .semi {
                grid-column: 2;
                grid-row: 1;
            }

            .chocolate-img {
                margin: 0 28px 25px 28px;
            }
        }

        .chocolate-img {
            margin-bottom: 36px !important;
            align-items: center !important;
            margin-left: 36px  !important;
            margin-right: 36px !important;
        }

        .made_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            max-width: 614px;
            gap: 20px;
            padding-bottom: 100px;

            .made_container--left {
                max-width: 614px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &--left--video {
                width: 614px;
                height: 400px;
            }

            &--right {
                max-width: 614px;

                &--box {
                    max-width: 500px;

                    &--card {

                        max-width: 500px;
                    }
                }
            }
        }

        .line {
            display: none;
        }

        // .products {
        //     padding-left: 33px;
        //     margin-bottom: 100px;


        // }

        // .slider-container{
        //     max-width: 874px;
        // }

        //     .products {
        //     padding-left: 33px;
        //     margin-bottom: 100px;

        //     &_slider {
        //         max-width: 847px;
        //     }
        // }

        .slider-track {
            padding-left: 20px;
            /* Отступ слева для первой карточки */
        }

        .card {
            /* Фиксируем ширину так, чтобы влезло 2 целых и кусок третьей */
            width: 280px;
        }

        .sellers {
            max-width: 704px;
            padding-bottom: 72px;

            &_container {
                max-width: 704px;

                &_card3 {
                    display: none;
                }

                &_card1 {
                    width: 344px;
                }

                &_card2 {
                    width: 344px;
                }
            }

            &_bottom--title {
                width: 306px;
            }
        }

        .slider-container3 {
            width: 721px;
        }

        .loved_container_card {
            width: 344px;
        }

    }

    body {
        .footer_container_top--box {
            max-width: 280px;

        }
    }

}



@media (max-width:1050px) {
    main {
        .about_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;
            max-width: 704px;
            gap: 32px;
        }

        .about_container_card--line {
            display: none;
        }
    }
}


@media (max-width:900px) {
    body {
        .header_top_info {
            display: none;
        }

        .header_top--social {
            display: none;
        }

        .header_top--burger {
            display: block;
        }
    }
}

@media (max-width:768px) {
    body {
        .header_home {
            padding-top: 685px;
            background-image: url("./img/bg-home-tablet.png");
        }

        .header_home--line {
            display: none;
        }

        .footer_container {
            max-width: 335px;
            padding: 32px 0;

            &_top {
                max-width: 335px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                margin-right: 0;
                margin-left: 0;

                &--text {
                    font-family: Montserrat;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: -2%;
                }

                &--box {
                    width: 100%;
                    max-width: 335px;
                }
            }

            &_line {
                margin-top: 32px;
                margin-bottom: 32px;
                margin-right: 0;
                margin-left: 0;
            }

            &_bottom {
                display: flex;
                flex-direction: column;
                gap: 18px;
                margin-right: 0;
                margin-left: 0;
                align-items: flex-start;
            }
        }
    }

    main {
        //      .products {
        //     padding-left: 20px;
        //     padding-right: 20px;
        //     margin-bottom: 72px;

        //     &_slider {
        //         max-width: 335px;
        //         margin-top: 32px;

        //         &--track {

        //             &--card {
        //                 flex: 0 0 335px;
        //                 width: 335px;
        //             }
        //         }
        //     }
        // }

        .explore {
            background-image: url("./img/Subcribe\ \(1\).png");

            &_container {
                padding: 62px 0;
            }
        }

        .slider-container3 {
            width: 337px;
        }

        .loved_container_card {
            width: 335px;
        }

    }

}

@media (max-width:740px) {
    main {
        .about_container {
            display: grid;
            grid-template-columns: 1fr;
            margin: 0 auto;
            max-width: 335px;
        }


        .chocolate {
            display: grid;
            grid-template-columns: 1fr;
            gap: 32px;
            max-width: 336px;


            & .chocolate-card {
                grid-column: 1;
                grid-row: 1;
                max-width: 336px;
            }

            & .milk {
                grid-column: 1;
                grid-row: 2;
            }

            & .nuts {
                grid-column: 1;
                grid-row: 3;
            }

            & .semi {
                grid-column: 1;
                grid-row: 4;
            }
        }

        .sellers {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 335px;
            gap: 20px;
            align-items: flex-start;

            &--title {
                font-size: 20px;
                line-height: 24px;
                margin: 0 auto;
                padding-bottom: 32px;
            }
        }

        .sellers_container,
        .sellers_bottom {
            display: contents;
        }

        .sellers_container_card1 {
            order: 1;
            width: 335px;
            height: 464px;
        }

        .sellers_bottom--title {
            order: 2;
            margin-bottom: 12px;
            width: 306px;
            text-align: left;
        }

        .sellers_container_card2 {
            order: 3;
            width: 335px;
            height: 464px;
        }

        .sellers_bottom--button {
            order: 4;
            margin: 0 auto;
        }
    }
}

@media (max-width:650px) {
    body {
        .header_home {
            padding-top: 395px;
        }

        .header_home_container {
            padding: 0 20px 80px 20px;
        }

        .header_home_absolute {
            left: 20px;
            bottom: 20px;
            max-width: 107px;

            &--button svg {
                width: 28px;
                height: 28px;
            }
        }
    }

    main {
        .made_container {
            max-width: 335px;
            gap: 20px;
            padding-bottom: 72px;

            &--left--video {
                display: none;
            }

            &--left--video2 {
                display: block;
            }

            &--right {
                max-width: 335px;
                padding: 20px 14px;

                &--title {
                    width: 307px;
                }

                &--box {
                    max-width: 307px;

                    &--card {

                        max-width: 307px;

                    }
                }
            }
        }



        .slider-container2 {
            display: block;
        }

        .modal_window-cards {
            display: none !important;


        }

        .modal_window-cards-card-img {}

        .modal_window {
            max-width: 311px !important;
            padding: 32px 24px 24px 24px !important;

            &-close-button {
                top: 14px !important;
                right: 14px !important;
            }

            &-form {
                max-width: 263px !important;

                &-info-box {
                    display: flex;
                    flex-direction: column;
                    gap: 14px !important;

                    &-input {
                        width: 100%;
                        max-width: 263px !important;
                        border-radius: 8px !important;
                        padding: 14px 18px !important;
                        font-size: 14px !important;
                    }
                }

                &-email-input {
                    width: 100%;
                    max-width: 263px !important;
                    border-radius: 8px !important;
                    padding: 14px 18px !important;
                    font-size: 14px !important;
                }

                &-phone-input-box {
                    width: 100%;
                    max-width: 263px !important;
                    border-radius: 8px !important;
                    padding: 8px 18px !important;
                    font-size: 14px !important;

                    &-left {
                        gap: 8px;
                    }

                    &-left-code {
                        font-size: 14px !important;
                    }

                    &-divide {
                        margin-left: 8px !important;
                        margin-right: 14px !important;
                        opacity: 60%;
                    }

                    &-tel {
                        font-size: 14px !important;
                    }
                }

                &-card-box {
                    width: 100%;
                    max-width: 263px !important;
                    border-radius: 8px !important;
                    padding: 12px 12px 12px 18px !important;
                    font-size: 14px !important;

                    &-input {
                        font-size: 14px !important;
                    }

                    & img {
                        width: 32px;
                        height: 21px;
                    }
                }

                &-comment-textarea {
                    height: 91px !important;
                    resize: none;
                    padding: 22px 24px;
                    width: 263px !important;
                    border-radius: 8px !important;
                    padding: 12px 12px 12px 18px !important;
                    font-size: 14px !important;
                }


            }

            &-button-send {
                width: 100%;
                max-width: 109px !important;
                padding: 12px 28px !important;
            }
        }

        .popup {
            width: 311px;
            height: 350px;
            background-image: url("./img/Pop\ up\ \(1\).png");

            &-close {
                top: 14px;
                right: 14px;
            }

            &-box {
                gap: 8px;
                padding: 74px 24px 170px 75px;

                &-title {
                    font-size: 20px;
                }

                &-text {
                    font-size: 14px;

                    & span {
                        font-size: 14px;
                    }
                }
            }
        }

    }
}

@media (max-width:570px) {
    .popup3 {
        width: 311px;
        height: 350px;
        background-image: url("./img/Pop\ up\ \(3\).png");

        &-close {
            top: 14px;
            right: 14px;
        }

        &-container {
            max-width: 263px;
            gap: 24px;
            margin: 198px 24px 32px 24px;
            padding: 0;
        }

        &-title {
            font-size: 20px;
            line-height: 24px;
        }

        &-box {
            width: 100%;
            max-width: 263px;
            display: flex;
            position: relative;
        }

        &-input {
            width: 263px;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: -2%;
            vertical-align: middle;
            padding: 14px 18px;
            border-radius: 25px;
            background-color: transparent;
        }

        &-submit {
            width: 100px;
            border-radius: 100px;
            background-color: #FD9222;
            font-family: Montserrat;
            font-weight: 600;
            font-size: 14px;
            color: #FFFFFF;
            padding: 16px 18px;
            border: none;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

@media (max-width:540px) {
    body {
        .header_home_container {
            &--title {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -3%;

                & br {
                    display: none;
                }
            }

            &--box {
                max-width: 295px;

                &--but1 {
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    max-width: 120px;
                    padding: 12px 28px;
                }

                &--but2 {
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    max-width: 159px;
                    padding: 12px 27px;
                }
            }
        }

        .header_home_absolute--text {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: -3%;
        }
    }

    main {
        .taste {
            padding: 72px 0;
        }

        .taste--title {
            width: 283px;
            font-family: Montserrat;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -3%;
            text-align: center;
            text-transform: uppercase;
        }

        .taste--text {
            width: 335px;
        }

        .loved_modal {
            max-width: 311px !important;
            padding: 32px 24px !important;

            &-close-button {
                top: 14px !important;
                right: 14px !important;
            }

            &-title {
                display: none;
            }

            &-title2 {
                display: block !important;
                padding-bottom: 32px !important;
            }

            max-width: 311px !important;
            padding: 32px 24px 24px 24px !important;

            &-close-button {
                top: 14px !important;
                right: 14px !important;
            }

            &-form {
                max-width: 263px !important;

                &-name-input {
                    width: 100%;
                    max-width: 263px !important;
                    border-radius: 8px !important;
                    padding: 14px 18px !important;
                    font-size: 14px !important;
                }

                &-email-input {
                    width: 100%;
                    max-width: 263px !important;
                    border-radius: 8px !important;
                    padding: 14px 18px !important;
                    font-size: 14px !important;
                }

                &-phone-input-box {
                    width: 100%;
                    max-width: 263px !important;
                    border-radius: 8px !important;
                    padding: 8px 18px !important;
                    font-size: 14px !important;

                    &-left {
                        gap: 8px;
                    }

                    &-left-code {
                        font-size: 14px !important;
                    }

                    &-divide {
                        margin-left: 8px !important;
                        margin-right: 14px !important;
                        opacity: 60%;
                    }

                    &-tel {
                        font-size: 14px !important;
                    }
                }


                &-comment-textarea {
                    height: 91px !important;
                    resize: none;
                    padding: 22px 24px;
                    width: 263px !important;
                    border-radius: 8px !important;
                    padding: 12px 12px 12px 18px !important;
                    font-size: 14px !important;
                }


            }

            &-button-send {
                width: 100%;
                max-width: 109px !important;
                padding: 12px 28px !important;
            }
        }

        .popup2 {
            width: 311px;
            height: 350px;
            background-image: url("./img/Pop\ up\ \(1\).png");

            &-close {
                top: 14px;
                right: 14px;
            }

            &-box {
                padding: 0;
                margin: 84px 24px 178px 58px;
                width: 229px;

                &-title {
                    font-family: Montserrat;
                    font-weight: 600;
                    font-style: SemiBold;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: -2%;
                    text-transform: uppercase;
                }

                &-text {
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -2%;
                    width: 198px;
                }
            }
        }
    }
}

@media(max-width:490px) {
    main {
        .explore {
            background-image: url("./img/Subcribe\ \(2\).png");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .explore_container--text {
            width: 326px;
        }

        .explore_container--title {
            font-size: 24px;
        }

        .explore_container--button {
            font-size: 14px;
            padding: 12px 28px;
            max-width: 128px;
        }

    }
}

@media (max-width:376px) {
    body {
        .header_home {
            background-image: url("./img/chocolate-covered-cocoa-powder\ 1.png");
        }


    }

    main {

        .products {
            max-width: 335px;
            padding-bottom: 72px;
        }

        .slider-container {
            max-width: 335px;
        }

        .slider-track {
            padding-left: 0;
        }

        .card {
            width: 335px;
        }


        .slider-container2 {
            display: block;
        }

        .modal_window-cards {
            display: none !important;
        }

        .modal_window-cards-card-img {

            width: 231px;
        }
    }

}