.header {
    padding: 24px 10px 72px 10px;

    &_top {

        &--burger {
            display: none;
            background-color: transparent;
            border: none;
        }

        width: 100%;
        max-width: 1136px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 32px;
        align-items: center;

        &_info {
            width: 100%;
            max-width: 532px;
            display: flex;
            justify-content: space-between;

            &--link {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -2%;
                vertical-align: middle;
                color: #111111;
                text-decoration: none;
                padding: 4px 0;

                &:hover {
                    color: #FD9222;
                    transition: 0.3s ease;
                }
            }
        }

        &--social {
            width: 100%;
            max-width: 66px;
            display: flex;
            justify-content: space-between;

            &--svg {
                &:hover path {
                    stroke: #FD9222;
                    transition: 0.3s ease;
                }

                cursor: pointer;
            }
        }


    }

    &_home {
        width: 100%;
        max-width: 1136px;
        margin: 0 auto;
        background-image: url("./img/bg-header.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        padding-top: 208px;
        position: relative;

        &--line {
            width: 100%;
            height: 119px;
            background-color: #D9D9D9;
        }

        &_container {
            width: 100%;
            max-width: 510px;
            padding-top: 54px;
            padding-bottom: 40px;
            padding-left: 40px;

            &--title {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 28px;
                line-height: 34px;
                letter-spacing: -3%;
                color: #FFFFFF;
            }

            &--box {
                width: 100%;
                max-width: 341px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 32px;

                &--but1 {
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                    background-color: #FD9222;
                    border: none;
                    border-radius: 100px;
                    padding: 14px 40px;

                    &:hover {
                        background-color: #FCF1E0;
                        color: #FD9222;
                        transition: 0.3s ease-in-out;
                    }
                }


                &--but2 {
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                    background-color: transparent;
                    border: 1px solid #FFFFFF;
                    border-radius: 100px;
                    padding: 14px 40px;

                    &:hover {
                        border: 1px solid #FD9222;
                        color: #FD9222;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }

        &_absolute {
            width: 100%;
            max-width: 140px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            right: 40px;
            bottom: 40px;

            &:hover {
                .header_home_absolute--text{
                    color: #FD9222;
                    transition: 0.3s ease-in-out;
                }

                .header_home_absolute--button ellipse {
                    fill: #FD9222;
                    transition: 0.3s ease-in-out;
                }

                .header_home_absolute--button path {
                    fill: #FFFFFF;
                    transition: 0.3s ease-in-out;
                }
            }

            &--text {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: -3%;
                color: #FFFFFF;
            }

            &--button {
                background: transparent;
                border: none;
            }
        }
    }
}