@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 24px 10px 72px 10px;
}
.header_top--burger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header_top {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  align-items: center;
}
.header_top_info {
  width: 100%;
  max-width: 532px;
  display: flex;
  justify-content: space-between;
}
.header_top_info--link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #111111;
  text-decoration: none;
  padding: 4px 0;
}
.header_top_info--link:hover {
  color: #FD9222;
  transition: 0.3s ease;
}
.header_top--social {
  width: 100%;
  max-width: 66px;
  display: flex;
  justify-content: space-between;
}
.header_top--social--svg:hover path {
  stroke: #FD9222;
  transition: 0.3s ease;
}
.header_top--social--svg {
  cursor: pointer;
}
.header_home {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  background-image: url("./img/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding-top: 208px;
  position: relative;
}
.header_home--line {
  width: 100%;
  height: 119px;
  background-color: #D9D9D9;
}
.header_home_container {
  width: 100%;
  max-width: 510px;
  padding-top: 54px;
  padding-bottom: 40px;
  padding-left: 40px;
}
.header_home_container--title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -3%;
  color: #FFFFFF;
}
.header_home_container--box {
  width: 100%;
  max-width: 341px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}
.header_home_container--box--but1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
}
.header_home_container--box--but1:hover {
  background-color: #FCF1E0;
  color: #FD9222;
  transition: 0.3s ease-in-out;
}
.header_home_container--box--but2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  padding: 14px 40px;
}
.header_home_container--box--but2:hover {
  border: 1px solid #FD9222;
  color: #FD9222;
  transition: 0.3s ease-in-out;
}
.header_home_absolute {
  width: 100%;
  max-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.header_home_absolute:hover .header_home_absolute--text {
  color: #FD9222;
  transition: 0.3s ease-in-out;
}
.header_home_absolute:hover .header_home_absolute--button ellipse {
  fill: #FD9222;
  transition: 0.3s ease-in-out;
}
.header_home_absolute:hover .header_home_absolute--button path {
  fill: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.header_home_absolute--text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -3%;
  color: #FFFFFF;
}
.header_home_absolute--button {
  background: transparent;
  border: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  max-width: 220px;
  height: 100%;
  background: #1E1823;
  transition: 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.mobile-menu.active {
  right: 0;
}

.close {
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  max-width: 124px;
  gap: 24px;
  margin-top: 136px;
  margin-left: 50px;
  margin-right: 46px;
}

.menu-nav a {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -2%;
  vertical-align: middle;
  text-decoration: none;
  color: #FFFFFF;
}
.menu-nav a:hover {
  color: #FD9222;
  transition: 0.3s ease;
}

.menu-footer--socials {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 18px;
  align-items: center;
}
.menu-footer--socials img {
  cursor: pointer;
}

.about {
  background-color: #1E1823;
  padding: 0 10px;
}
.about_container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.about_container_card {
  width: 100%;
  max-width: 326px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}
.about_container_card--box {
  width: 100%;
  max-width: 308px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about_container_card--box--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  padding-top: 22px;
  padding-bottom: 18px;
}
.about_container_card--box--text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
  color: rgba(255, 255, 255, 0.6980392157);
}
.about_container .choco {
  padding-bottom: 20px;
}

.taste {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 0;
}
.taste--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  width: 411px;
  padding-bottom: 28px;
}
.taste--title span {
  color: #FD9222;
}
.taste--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  color: #111111;
  width: 486px;
  padding-bottom: 50px;
}

.chocolate {
  width: 100%;
  max-width: 1136px;
  display: flex;
  justify-content: space-between;
  gap: 19px;
}

.chocolate-card {
  max-width: 270px;
  height: 270px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FD9222;
}
.chocolate-card .card-front {
  width: 100%;
  height: 100%;
  background-color: #FD9222;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  box-sizing: border-box;
}
.chocolate-card .card-front .chocolate-img {
  margin-bottom: 36px;
}
.chocolate-card .card-front .title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #FFFFFF;
  max-height: 144px;
}
.chocolate-card .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 28px;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  display: flex;
  flex-direction: column;
}
.chocolate-card .card-back .back-title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -3%;
  text-transform: uppercase;
  color: #111111;
  padding-bottom: 8px;
}
.chocolate-card .card-back .tags {
  width: 100%;
  max-width: 190px;
  display: flex;
  gap: 6px;
  margin-bottom: 15px;
}
.chocolate-card .card-back .tags .tag {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 6px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}
.chocolate-card .card-back .tags .tag-filled {
  background: #FD9222;
  color: #FFFFFF;
  width: 100%;
  max-width: 81px;
}
.chocolate-card .card-back .tags .tag-outline {
  border: 1px solid #FD9222;
  color: #111111;
  width: 100%;
  max-width: 95px;
}
.chocolate-card .card-back .description {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #111111;
  height: 146px;
  overflow-y: auto;
}
.chocolate-card:hover .card-back {
  transform: translateY(0);
}
.chocolate-card:hover {
  border: 2px solid #FD9222;
}

.milk {
  border: 2px solid #FD9222;
}
.milk .card-front {
  background-color: #FFFFFF;
}
.milk .card-front .title {
  color: #111111;
}
.milk .card-back {
  padding: 23px;
}

.nuts {
  border: 2px solid #1E1823;
}
.nuts .card-front {
  background-color: #1E1823;
}
.nuts .card-back {
  padding: 23px;
}

.semi {
  border: 2px solid #FD9222;
}
.semi .card-front {
  background-color: #FFFFFF;
}
.semi .card-front .title {
  color: #111111;
}
.semi .card-back {
  padding: 23px;
}
.semi .card-back .tags {
  max-width: 216px;
}
.semi .card-back .tags .tag {
  padding: 6px 16px;
}
.semi .card-back .tags .tag-filled {
  max-width: 114px;
  padding: 6px 16px;
}
.semi .card-back .tags .tag-outline {
  max-width: 95px;
}

.made {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.made--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  padding-bottom: 50px;
}
.made--title span {
  color: #FD9222;
}
.made_container {
  width: 100%;
  max-width: 1136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.made_container--left {
  max-width: 600px;
  position: relative;
}
.made_container--left--video2 {
  display: none;
}
.made_container--left:hover .made_container--left--play path {
  fill: #FD9222;
  transition: 0.3s ease;
}
.made_container--left:hover .made_container--left--play circle {
  stroke: #FD9222;
  transition: 0.3s ease;
}
.made_container--left--play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.made_container--right {
  width: 100%;
  max-width: 516px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 33px;
}
.made_container--right--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #111111;
  padding-bottom: 28px;
  width: 350px;
}
.made_container--right--box {
  width: 100%;
  max-width: 452px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.made_container--right--box--card {
  width: 100%;
  max-width: 452px;
  gap: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.made_container--right--box--card--dot {
  padding-top: 4px;
}
.made_container--right--box--card--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #111111;
}

.line {
  margin: 0 auto;
  width: 1136px;
  height: 51px;
  background-color: #D9D9D9;
  margin-top: 36px;
  margin-bottom: 41px;
}

#mobile_menu {
  display: none;
  background-color: red;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
}

.active {
  display: flex;
}

:root {
  --orange: #FD9222;
  --gray: #e0e0e0;
  --gap: 20px;
}

.products {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 128px;
}
.products--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  padding-bottom: 50px;
}
.products--title span {
  color: #FD9222;
}

.slider-container {
  width: 100%;
  max-width: 1140px;
  overflow: hidden;
}

.slider-container2 {
  width: 100%;
  max-width: 231px;
  display: none;
  overflow: clip;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
  padding-left: 0;
  /* Будет меняться в медиа-запросах */
  align-items: stretch;
}

.slider-track2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
  padding-left: 0;
  /* Будет меняться в медиа-запросах */
  align-items: stretch;
}

.card {
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  /* ВАЖНО: запрещаем карточке сжиматься или растягиваться */
  flex-shrink: 0;
  background: white;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  padding: 25px 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
}
.card--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #111111;
  padding-top: 8px;
}
.card--subtitle {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -2%;
  color: rgba(17, 17, 17, 0.6980392157);
  padding-top: 2px;
  padding-bottom: 18px;
}
.card--price {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #111111;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  background-color: #FAFAFA;
  border-radius: 100px;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  width: 94px;
}

.dots-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 32px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--gray);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: var(--orange);
  width: 30px;
  border-radius: 10px;
}

.dots-container2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 32px;
}

.dot2 {
  width: 10px;
  height: 10px;
  background-color: var(--gray);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot2.active {
  background-color: var(--orange);
  width: 30px;
  border-radius: 10px;
}

.sellers {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 128px;
}
.sellers--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  padding-bottom: 50px;
}
.sellers--title span {
  color: #FD9222;
}
.sellers_container {
  width: 100%;
  max-width: 1136px;
  display: flex;
  gap: 16px;
  padding-bottom: 32px;
}
.sellers_bottom {
  width: 100%;
  max-width: 1136px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sellers_bottom--title {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #111111;
  width: 415px;
}
.sellers_bottom--button {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  background-color: #FD9222;
  width: 100%;
  max-width: 162px;
  border-radius: 100px;
  padding: 14px 40px;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  /*display: none;*/
}
.backdrop .modal_window {
  background: #FAFAFA;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 609px;
  padding: 48px;
  position: relative;
  height: 758px;
  overflow-y: auto;
}
.backdrop .modal_window-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdrop .modal_window-title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
}
.backdrop .modal_window-title span {
  color: #FD9222;
}
.backdrop .modal_window-cards {
  width: 100%;
  max-width: 513px;
  display: flex;
  gap: 16px;
  padding-top: 32px;
}
.backdrop .modal_window-cards-card {
  width: 100%;
  max-width: 160px;
  background-color: #FFFFFF;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 15px;
  padding: 24px 20px 18px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.backdrop .modal_window-cards-card-button {
  width: 100%;
  max-width: 101px;
  background-color: #FAFAFA;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 100px;
  padding: 8px 29px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #111111;
}
.backdrop .modal_window-cards-card2 {
  width: 231px;
  background-color: #FFFFFF;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 15px;
  padding: 24px 20px 18px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.backdrop .modal_window-cards-card2-button {
  width: 100%;
  max-width: 101px;
  background-color: #FAFAFA;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 100px;
  padding: 8px 29px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #111111;
}
.backdrop .modal_window-form {
  width: 100%;
  max-width: 513px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 40px;
}
.backdrop .modal_window-form-info {
  width: 100%;
  max-width: 513px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.backdrop .modal_window-form-info-label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #000000;
}
.backdrop .modal_window-form-info-box {
  width: 100%;
  max-width: 513px;
  display: flex;
  gap: 21px;
}
.backdrop .modal_window-form-info-box-input {
  width: 100%;
  max-width: 246px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #1E1823;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  box-shadow: 0px 5.44px 5.44px 0px rgba(0, 0, 0, 0.0117647059);
  border-radius: 13px;
  padding: 22px 24px;
  background-color: #FAFAFA;
}
.backdrop .modal_window-form-info-box-input::-moz-placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
}
.backdrop .modal_window-form-info-box-input::placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
}
.backdrop .modal_window-form-info-box-input:focus {
  outline: none;
  border: none;
  border: 1.5px solid #FD9222;
}
.backdrop .modal_window-form-email {
  width: 100%;
  max-width: 513px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.backdrop .modal_window-form-email-label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #000000;
}
.backdrop .modal_window-form-email-input {
  width: 100%;
  max-width: 513px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #1E1823;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  box-shadow: 0px 5.44px 5.44px 0px rgba(0, 0, 0, 0.0117647059);
  border-radius: 13px;
  padding: 22px 24px;
  background-color: #FAFAFA;
}
.backdrop .modal_window-form-email-input::-moz-placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
}
.backdrop .modal_window-form-email-input::placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
}
.backdrop .modal_window-form-email-input:focus {
  outline: none;
  border: none;
  border: 1.5px solid #FD9222;
}
.backdrop .modal_window-form-phone {
  width: 100%;
  max-width: 513px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.backdrop .modal_window-form-phone-label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #000000;
}
.backdrop .modal_window-form-phone-input-box {
  width: 100%;
  max-width: 513px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  box-shadow: 0px 5.44px 5.44px 0px rgba(0, 0, 0, 0.0117647059);
  border-radius: 13px;
  padding: 17px 24px;
  display: flex;
  background-color: #FAFAFA;
  align-items: center;
}
.backdrop .modal_window-form-phone-input-box-left {
  width: 100%;
  max-width: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backdrop .modal_window-form-phone-input-box-left-code {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #000000;
}
.backdrop .modal_window-form-phone-input-box-divide {
  width: 2.5px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0.1019607843);
  margin-left: 32px;
  margin-right: 28px;
}
.backdrop .modal_window-form-phone-input-box-tel {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #1E1823;
  background-color: transparent;
  border: none;
}
.backdrop .modal_window-form-phone-input-box-tel::-moz-placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
}
.backdrop .modal_window-form-phone-input-box-tel::placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
}
.backdrop .modal_window-form-phone-input-box-tel:focus {
  outline: none;
  border: none;
}
.backdrop .modal_window-form-card {
  width: 100%;
  max-width: 513px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.backdrop .modal_window-form-card-label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #000000;
}
.backdrop .modal_window-form-card-box {
  width: 100%;
  max-width: 513px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  box-shadow: 0px 5.44px 5.44px 0px rgba(0, 0, 0, 0.0117647059);
  border-radius: 13px;
  padding: 17px 24px;
  display: flex;
  background-color: #FAFAFA;
  align-items: center;
  justify-content: space-between;
}
.backdrop .modal_window-form-card-box-input {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #1E1823;
  background-color: transparent;
  border: none;
}
.backdrop .modal_window-form-card-box-input::-moz-placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
}
.backdrop .modal_window-form-card-box-input::placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
}
.backdrop .modal_window-form-card-box-input:focus {
  outline: none;
  border: none;
}
.backdrop .modal_window-form-comment {
  width: 100%;
  max-width: 513px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.backdrop .modal_window-form-comment-label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #000000;
}
.backdrop .modal_window-form-comment-textarea {
  width: 513px;
  height: 137px;
  resize: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #1E1823;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  box-shadow: 0px 5.44px 5.44px 0px rgba(0, 0, 0, 0.0117647059);
  border-radius: 13px;
  padding: 22px 24px;
  background-color: #FAFAFA;
}
.backdrop .modal_window-form-comment-textarea::-moz-placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
}
.backdrop .modal_window-form-comment-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
}
.backdrop .modal_window-form-comment-textarea:focus {
  outline: none;
  border: none;
  border: 1.5px solid #FD9222;
}
.backdrop .modal_window-button-send {
  width: 100%;
  max-width: 133px;
  margin-top: 18px;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  cursor: pointer;
}
.backdrop .modal_window ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
.backdrop .modal_window ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.popup {
  z-index: 51;
  background-color: #FD9222;
  background-image: url("./img/pop up.png");
  width: 516px;
  height: 414px;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}
.popup.hidden {
  display: none;
}
.popup-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  z-index: 100;
}
.popup-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 154px 44px 154px 163px;
}
.popup-box-title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #FCF1E0;
}
.popup-box-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #FFFFFF;
}
.popup-box-text span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #FCF1E0;
}

#overlay {
  display: none;
  background: #000000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 49;
  width: 100%;
  height: 100%;
}

.explore {
  background-image: url("./img/Subcribe.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.explore_container {
  width: 100%;
  max-width: 467px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  padding: 72px 0;
  align-items: center;
}
.explore_container--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 378px;
}
.explore_container--text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  color: #FFFFFF;
}
.explore_container--button {
  width: 100%;
  max-width: 172px;
  background-color: #FD9222;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  padding: 14px 40px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

@media (max-width: 1160px) {
  main .chocolate {
    max-width: 704px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  main .chocolate .chocolate-card {
    grid-column: 1;
    grid-row: 1;
    max-width: 336px;
  }
  main .chocolate .milk {
    grid-column: 1;
    grid-row: 2;
  }
  main .chocolate .nuts {
    grid-column: 2;
    grid-row: 2;
  }
  main .chocolate .semi {
    grid-column: 2;
    grid-row: 1;
  }
  main .chocolate .chocolate-img {
    margin: 0 28px 25px 28px;
  }
  main .made_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 614px;
    gap: 20px;
    padding-bottom: 100px;
  }
  main .made_container .made_container--left {
    max-width: 614px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .made_container--left--video {
    width: 614px;
    height: 400px;
  }
  main .made_container--right {
    max-width: 614px;
  }
  main .made_container--right--box {
    max-width: 500px;
  }
  main .made_container--right--box--card {
    max-width: 500px;
  }
  main .line {
    display: none;
  }
  main .slider-track {
    padding-left: 30px;
    /* Отступ слева для первой карточки */
  }
  main .card {
    /* Фиксируем ширину так, чтобы влезло 2 целых и кусок третьей */
    width: 280px;
  }
  main .sellers {
    max-width: 704px;
  }
  main .sellers_container {
    max-width: 704px;
  }
  main .sellers_container_card3 {
    display: none;
  }
  main .sellers_container_card1 {
    width: 344px;
  }
  main .sellers_container_card2 {
    width: 344px;
  }
  main .sellers_bottom--title {
    width: 306px;
  }
}
@media (max-width: 1050px) {
  main .about_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 704px;
    gap: 32px;
  }
  main .about_container_card--line {
    display: none;
  }
}
@media (max-width: 900px) {
  body .header_top_info {
    display: none;
  }
  body .header_top--social {
    display: none;
  }
  body .header_top--burger {
    display: block;
  }
}
@media (max-width: 768px) {
  body .header_home {
    padding-top: 685px;
    background-image: url("./img/bg-home-tablet.png");
  }
  body .header_home--line {
    display: none;
  }
  main .explore {
    background-image: url("./img/Subcribe (1).png");
  }
}
@media (max-width: 740px) {
  main .about_container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 335px;
  }
  main .chocolate {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    max-width: 336px;
  }
  main .chocolate .chocolate-card {
    grid-column: 1;
    grid-row: 1;
    max-width: 336px;
  }
  main .chocolate .milk {
    grid-column: 1;
    grid-row: 2;
  }
  main .chocolate .nuts {
    grid-column: 1;
    grid-row: 3;
  }
  main .chocolate .semi {
    grid-column: 1;
    grid-row: 4;
  }
  main .sellers {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 335px;
    gap: 20px;
    align-items: flex-start;
  }
  main .sellers--title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    padding-bottom: 32px;
  }
  main .sellers_container,
  main .sellers_bottom {
    display: contents;
  }
  main .sellers_container_card1 {
    order: 1;
    width: 335px;
    height: 464px;
  }
  main .sellers_bottom--title {
    order: 2;
    margin-bottom: 12px;
    width: 306px;
    text-align: left;
  }
  main .sellers_container_card2 {
    order: 3;
    width: 335px;
    height: 464px;
  }
  main .sellers_bottom--button {
    order: 4;
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  body .header_home {
    padding-top: 395px;
  }
  body .header_home_container {
    padding: 0 20px 80px 20px;
  }
  body .header_home_absolute {
    left: 20px;
    bottom: 20px;
    max-width: 107px;
  }
  body .header_home_absolute--button svg {
    width: 28px;
    height: 28px;
  }
  main .made_container {
    max-width: 335px;
    gap: 20px;
    padding-bottom: 72px;
  }
  main .made_container--left--video {
    display: none;
  }
  main .made_container--left--video2 {
    display: block;
  }
  main .made_container--right {
    max-width: 335px;
    padding: 20px 14px;
  }
  main .made_container--right--title {
    width: 307px;
  }
  main .made_container--right--box {
    max-width: 307px;
  }
  main .made_container--right--box--card {
    max-width: 307px;
  }
}
@media (max-width: 530px) {
  body .header_home_container--title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -3%;
  }
  body .header_home_container--title br {
    display: none;
  }
  body .header_home_container--box {
    max-width: 295px;
  }
  body .header_home_container--box--but1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    max-width: 120px;
    padding: 12px 28px;
  }
  body .header_home_container--box--but2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    max-width: 159px;
    padding: 12px 27px;
  }
  body .header_home_absolute--text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -3%;
  }
  main .taste--title {
    width: 283px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -3%;
    text-align: center;
    text-transform: uppercase;
  }
  main .taste--text {
    width: 335px;
  }
}
@media (max-width: 490px) {
  main .explore {
    background-image: url("./img/Subcribe (2).png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  main .explore_container--text {
    width: 326px;
  }
  main .explore_container--title {
    font-size: 24px;
  }
  main .explore_container--button {
    font-size: 14px;
    padding: 12px 28px;
    max-width: 128px;
  }
}
@media (max-width: 376px) {
  body .header_home {
    background-image: url("./img/chocolate-covered-cocoa-powder 1.png");
  }
  main .slider-container {
    max-width: 335px;
  }
  main .slider-track {
    padding-left: 0;
  }
  main .card {
    width: 335px;
  }
  main .slider-container2 {
    display: block;
  }
  main .modal_window-cards {
    display: none !important;
  }
  main .modal_window-cards-card-img {
    width: 231px;
  }
}
body {
  background-color: #FAFAFA;
}/*# sourceMappingURL=style.css.map */